.red-square {
  background-color: #FF8A94;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  font-family: sans-serif;
  font-size: 30px;
}

a {
  color: white;
  background-color: #FF2D40;
}
