@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$height: 60vh;
$width: 640px;

$base-font-size: 18px;
$heading-scale: 8; // amount of px headings grow from h6 to h1

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size + $heading-scale * (6 - $i);
  }
}

.fake-window {
  margin: 0;
  padding: 5px;
  background-color: lighten(gray, 30%);
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(64, 64, 64, 0.53);
  * {
    margin: 0;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ctrl-button {
  padding: 4px;
  border-radius: 50%;
  display: inline-block;
}

span.exit {
  background-color: red;
  &:hover {
    cursor: pointer;
  }
}
span.minimize {
  background-color: yellow;
}
span.maximize {
  background-color: green;
}

.app-name {
  padding-left: 5px;
  border-left: thick solid lighten(gray, 32%);
  font-size: $base-font-size;
}

.main-panel {
  background-color: lighten(gray, 35%);
  padding: 5px;
  margin: 0;
  min-height: $height;
  min-width: $width;

}

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  //overflow: hidden;
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: $base-font-size + 10;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
